<div class="inline-flex items-center justify-center animate-pulse">
  <%= inline_svg "star-fill.svg", classes: "h-6 w-6 text-yellow-400" %>
  <span class="ml-2 text-md text-gray-600"><%= likes_count %></span>
</div>
